/* 
    CSS Contents

    Layout





*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Petrona&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

html {
    --orange: #ffb355;
    --scrollbarBG: var(--orange);
    --thumbBG: #fff;
  }


.screen-reader-text {
    position: absolute;
    top: -10000em;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

/* ------------- Layout ------------- */
body {
    background: #000;
    color: #fff;
    display: flex;
    align-content: center;
    font-family: 'Reem Kufi', sans-serif;
    height: 100vh;
    max-height: 100vh;
    /* overflow: hidden; */
    width: 100vw;
}

a {
    color: var(--orange);
    text-decoration: none;
}

.container {
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: 1px solid #fff;
    height: calc(100vh - 82px);
    margin: 40px;
    max-width: 1920px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: calc(100vw - 82px);
}

.container > * {
    margin: 0px 40px;
}

.content {
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas: 
        "header map"
        "convert map"
        "output output"
        "footer footer";
    margin-top: 90px;
    max-height: calc(100vh - 183px);
    overflow-y: auto;
    padding-right: 5px;
    padding-bottom: 5px;
}

.modal .modal-content section::-webkit-scrollbar,
.content::-webkit-scrollbar {
    width: 11px;
}

.modal .modal-content section ,
.content {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.modal .modal-content section::-webkit-scrollbar-track,
.content::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

.modal .modal-content section::-webkit-scrollbar-thumb,
.content::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    /* border-radius: 6px; */
    border: 3px solid var(--scrollbarBG);
}

/* ------------- HEADER ------------- */
.page-menu {
    background-image: url(../img/key_line.png);
    background-position: top left;
    background-size: 24px;
    background-repeat: repeat-x;
    margin: 30px 40px 0px;
    padding-top: 20px;
    position: fixed;
    width: calc(100vw - 162px);
    height: 20px;
    max-width: 1838px;
}

.external-menu ul,
.page-menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

.external-menu ul li,
.page-menu ul li {
    padding: 0px 0px;
    list-style-type: none;
}

.external-menu ul li a,
.page-menu ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.external-menu ul {
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 12px;
    justify-content: space-between;
}

.external-menu ul li {
    flex: 0 0 15%;
    min-width: 100px;
    min-height: 75px;
    padding-top: 10px;
}

.external-menu ul li a {
    text-transform: none;
}

.main-header {
    background-image: url(../img/handle.png);
    background-repeat: no-repeat;
    background-position: top center;
    grid-area: header;
    padding-top: 35px;
    background-size: 20px;
    text-align: center;
}

.site-title {
    background: url(../img/balance.png);
    background-repeat: no-repeat;
    background-position: center 32px;
    background-size: 250px;
    color: var(--orange);
    font-family: 'Petrona', serif;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
    height: 130px;
}

/* ------------- CONVERT ------------- */
.convert {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: min-content;
    grid-area: convert;
    padding: 5px 20px;
}

.currencies {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
        "header header"
        "from to";
    margin-bottom: 30px;
}

.currencies .header {
    background-image: url('../img/currencies1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: header;
    margin-bottom: 5px;
    height: 20px;
    width: 100%;
}

.currencies label {
    font-size: 14px;
    line-height: 25px;
}

.standard-option-item,
.currency-option-item {
    display: flex;
    justify-content: space-between;
}

.currency-option-item .denomination {
}
.currency-option-item .location {
}
.standard-to .select2-container .select2-selection--single,
.currency-from .select2-container .select2-selection--single {
    background-image: url('../img/from-marker.png');
    background-repeat: no-repeat;
    background-position: 162px 2px;
    background-size: 18px;
}

.standard-to .select2-container .select2-selection--single {
    background-image: url('../img/to-marker.png');
}

.standard-option-item {
    
}


.convert-header {
    grid-area: header;
}

.convert-from {
    grid-area: from;
}

.convert-to {
    grid-area: to;
}

.filters {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 30% 30% 30%;
    grid-template-areas: 
        "header header header"
        "from period to";
    position: relative;
    border: 1px solid var(--orange);
    border-radius: 10px;
    margin: 20px -10px 0px;
    padding: 10px 10px 15px 10px;
}

.filters .header {
    background-image: url(../img/filters1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: header;
    margin-bottom: 5px;
    height: 22px;
    width: 100%;
    position: absolute;
    top: -32px;
}

.filters select {
    color: #fff;
}

.filters .selector {
    margin-top: -5px;
}

.filters label {
    color: var(--orange);
    font-size: 12px;
    line-height: 30px;
}

.filters label .selection {
    color: #fff;
}

.filters label .label-modifier {
    color: #fff;
    margin-left: 3px;
    text-transform: uppercase;
}

.region-selector-from {
    grid-area: from;
}

.period-selector {
    grid-area: period;
    text-align: center;
}

.period-selector label {
}

.region-selector-to {
    grid-area: to;
    text-align: right;
}

.region-selector-to label {
}

/* ------------- DROPDOWNS ------------- */

.select2-dropdown {
    max-height: 50vh;
    overflow-y: auto;
}

.select2-container--currencies,
.select2-container--filters {
    border: 1px solid #fff;
    height: 24px;
}

.select2-container.select2-container--below.select2-container--filters.select2-container--open,
.select2-container--filters,
.select2-container--currencies {
    width: 90% !important;
    max-width: 95vw;
}

.select2-container--currencies .select2-dropdown {
    width: 500px !important;
    max-width: 95vw;
}

.select2-container--filters .select2-dropdown {
    width: 250px !important;
    max-width: 95vw;
}

.select2-container--currencies .select2-dropdown,
.select2-container--filters .select2-dropdown {
    background-color: #000;
}

.select2-search--dropdown .select2-search__field {
    background-color: #000;
    color: #fff;
}

.select2-container.select2-container--filters.select2-container--open {
     width: 250px !important;
}

.select2-container.select2-container--currencies.select2-container--open {
     width: 500px !important;
}


label .select2-container.select2-container--currencies.select2-container--open {
    width: 90% !important;
}

.filters .select2-container--currencies {
    width: 90% !important;
}

.standard-to .standard-selector {
    text-align: right;
}

.convert-from .coin-selector,
.convert-to .standard-selector {
    margin-bottom: 5px;
}

.amount-selector-label {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 90% !important;
}

.standard-to {
    margin-bottom: 5px;
}

.standard-to .amount-selector-label {
    float: right;
}
.amount-selector-label .amount-output,
.amount-selector-label .amount-selector {
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    width: 100px;
}

.select2-results__option--selectable:hover {
   color: #000;
   background-color: var(--orange);
}

.missing-inputs .warning-empty {
    border-width: 2px;
}

.missing-inputs[data-missing="1"] .warning-empty {
    border-color: rgb(0, 255, 0);
}
.missing-inputs[data-missing="2"] .warning-empty {
    border-color: rgb(229, 255, 0);
}
.missing-inputs[data-missing="3"] .warning-empty {
    border-color: rgb(255, 179, 0);
}


/* ------------- MAP ------------- */
.map {
    grid-area: map;
}

#map {
    display: block;
    height: auto;
    width: 100%;
}

/* ------------- OUTPUT ------------- */
.output {
    grid-area: output;
    /* display: none; */
   
}

.conversion-output {
    padding: 20px;
}

.conversion-output:empty {
    padding: 0px;
}



.output .expandable{
    display: none;
}

.output .coin.open .expandable{
    display: flex;
    flex-direction: column;
}

.output .comp-comodities,
.output .comparable-currencies {
    display: none;
}

.conversion-title {

}

.output-title { 
    color: var(--orange);
}

.output ul {
    list-style: none;
    padding: 0;
}

.output .book-title {
    font-style: italic;
}
/* Modal content */

.modal {
    display: none;
}

.modal-open .content {
    grid-template-columns: 1fr;
    overflow-y: hidden;
}

.modal-open .content > * {
    display: none;
}

.modal-open .modal {
    display: block;
}

.modal-open .page-menu ul {
    display: none;
}

.modal .modal-content{
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
    max-width: 1380px;
    width: 80%;
}
.modal-content p {
    text-indent: 20px;
}

.modal .modal-content section {
    height: calc(100vh - 240px);
    padding-right: 10px;
    overflow-y: scroll;
}


.title {
    display: flex;
    height: 120px;
    padding: 0px 30px;
}

.about-title {
    background-image: url('../img/about_header_1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 120px;
    margin: -15px 0px 0px 0px;
    width: 100%;
}

.close-modal {
    cursor: pointer;
    position: relative;
    width: 30px;
}

.close-modal::before{
    content: "\00D7";

    background: #ffb355;
    color: #000;
    font-size: 50px;
    height: 30px;
    padding-left: 4px;
    position: absolute;
    top: 40px;
    width: 26px;
}

/* Output */

.output .coin {
    margin-bottom: 15px;
}

.output .coin .main {
    display: flex;
    justify-content: space-between;
}

.output .citations-and-links {
    border: solid 1px var(--orange);
    color: #fff;
    margin-top: 10px;
    padding: 2px;
    position: relative;
    text-decoration: none;
}

.output .citations-and-links::before {
    background-image: url(../img/key_line_vert.png);
    content: "";
    width: 5px;
    height: calc(100% - 4px);
    position: absolute;
    background-size: contain;
}

.citations-and-links > * {
    margin: 0px;
    padding: 5px 20px 0px;
}

.coin-example,
.source-title {
    font-weight: bold;
    padding-bottom: 5px;
}

.coin-example {
    padding-top: 5px;
}

.citations-and-links > *:first-child {
    padding-top: 15px;
}

.source-title {
    margin: 0px;
}

.sources .source {
    margin-bottom: 5px;
    margin-left: 20px;
    text-indent: -20px;
}

.output .citations-and-links ul {
    padding: 15px 20px;
}

.citation-or-link span {
    word-break: break-all;
}

.coin-images {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.coin-images figure {
    display: flex;
    flex-direction: column;
    flex: 0 1 150px;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    width: 150px;
    min-height: 175px;
}

.coin-images figure img {
    width: 100%;
}

.coin-images figcaption {
    padding-top: 5px;
    text-align: center;
}

.citation-title {
    color: var(--orange);
}

.citation-content a {
    color: white;
}

.output .coin .main {
    cursor: pointer;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 30px 1fr 1fr 1fr 1fr;
}

.output .group.links {
    color: var(--orange);
}

.expand::before{
    content: '+';
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height: 16px;
}

.coin.open .expand::before{        
    content: '-';
}

.output-title {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 20px;
    text-transform: uppercase;
}

.list-of-conversions {
    display: none;
}

.expand-list-of-conversions::before {
    content: '+';
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 800;
    line-height: 16px;
}

.open.conversion-type .expand-list-of-conversions::before {
    content: '-';
}

.open.conversion-type .list-of-conversions {
    display: block;
}



/* ------------- FOOTER ------------- */
.footer {
    /* display: none; */
    grid-area: footer;
}
.footer .decoration {
    background-image: url('../img/repeat-sm.png');
    height: 10px;
    margin-top: 20px;
}



@media only screen and (min-width: 2082px) {
    .container{
        margin: 40px auto;
    }
}

@media only screen and (min-width: 1400px) {
    .content {
        grid-template-rows: min-content min-content 1fr min-content;
        grid-template-areas: 
        "header map"
        "convert map"
        "output map"
        "footer footer";
    }
}

@media only screen and (max-width: 1280px) {
    .container {
        height: calc(100vh - 12px);
        width: calc(100vw - 12px);
        margin: 5px;
    }

    .page-menu {
        margin: 10px 20px 0px;
        width: calc(100vw - 52px);
    }
    .content {
        grid-template-columns: 400px 1fr;
        margin: 70px 20px 0px 20px;
        max-height: calc(100vh - 89px);
    }

    .currencies {
        grid-gap: 0px 10px;
    }

    .standard-to .select2-container .select2-selection--single,
    .currency-from .select2-container .select2-selection--single {
        background-position: 157px 2px;
        background-size: 18px;
    }

    .select2-container.select2-container--below.select2-container--filters.select2-container--open,
    .select2-container--filters,
    label .select2-container.select2-container--currencies.select2-container--open,
    .filters .select2-container--currencies,
    .amount-selector-label,
    .select2-container--currencies {
        width: 100% !important
    }

}

@media only screen and (max-width: 960px) {
    .content {
        grid-template-columns: 100%;
        grid-template-areas: 
            "header"
            "convert"
            "output"
            "map"
            "footer";
        margin: 70px 20px 0px 20px;
    }
    
    .standard-to .select2-container .select2-selection--single,
    .currency-from .select2-container .select2-selection--single {
        background-position-x: 98%;
    }

    .modal .modal-content {
        padding: 0px 20px;
        width: auto;
    }
}

@media only screen and (max-width: 680px) {
    .close-modal {
        margin-right: -30px;
        padding-left: 10px;
    }

    .about-title {
        margin: 0px;
    }
}

@media only screen and (max-width: 500px) {
    .coin-images {
        flex-direction: column;
        width: 100%;
    }

    .coin-images figure {
      margin-bottom: 10px;
    }
}