/* 
    CSS Contents

    Layout





*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Petrona&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

html {
    --orange: #ffb355;
    --scrollbarBG: var(--orange);
    --thumbBG: #fff;
  }
.container::-webkit-scrollbar {
    width: 11px;
}
.container {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.container::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
.container::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    /* border-radius: 6px; */
    border: 3px solid var(--scrollbarBG);
}

.screen-reader-text {
    position: absolute;
    top: -10000em;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/* ------------- Layout ------------- */
body {
    background: #000;
    color: #fff;
    display: flex;
    align-content: center;
    font-family: 'Reem Kufi', sans-serif;
    height: 100vh;
    max-height: 100vh;
    /* overflow: hidden; */
    width: 100vw;
}

.container {
    border: 1px solid #fff;
    margin: 40px;
    /* position: fixed; */
    overflow-x: hidden;
    overflow-y: hidden;
    height: calc(100vh - 82px);
    width: calc(100vw - 82px);
    max-width: 1920px;
}

.container > * {
    margin: 0px 40px;
}

.content {
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-template-rows: min-content 1fr auto;
    grid-template-areas: 
        "header map"
        "convert map"
        "output output";
    margin-top: 90px;
}


/* ------------- HEADER ------------- */
.page-menu {
    background-image: url(../img/key_line.png);
    background-position: top left;
    background-size: 24px;
    background-repeat-y: no-repeat;
    margin: 30px 40px 0px;
    padding-top: 20px;
    position: fixed;
    width: calc(100vw - 162px);
    height: 20px;
    max-width: 1838px;
}

.external-menu ul,
.page-menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

.external-menu ul li,
.page-menu ul li {
    padding: 0px 0px;
    list-style-type: none;
}

.external-menu ul li a,
.page-menu ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}


.main-header {
    background-image: url(../img/handle.png);
    background-repeat: no-repeat;
    background-position: top center;
    grid-area: header;
    margin-top: -32px;
    padding-top: 35px;
    background-size: 20px;
    text-align: center;
}

.site-title {
    background: url(../img/balance.png);
    background-repeat: no-repeat;
    background-position: center 32px;
    background-size: 250px;
    color: var(--orange);
    font-family: 'Petrona', serif;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
    height: 130px;
}

/* ------------- CONVERT ------------- */
.convert {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: min-content;
    grid-area: convert;
    padding: 5px 20px;
}

.currencies {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
        "header header"
        "from to";
    margin-bottom: 30px;
}

.currencies .header {
    background-image: url('../img/currencies.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: header;
    margin-bottom: 5px;
    height: 20px;
    width: 100%;
}

.currencies label {
    font-size: 14px;
    line-height: 25px;
}

.standard-option-item,
.currency-option-item {
    display: flex;
    justify-content: space-between;
}

.currency-option-item .denomination {
}
.currency-option-item .location {
}
.standard-to .select2-container .select2-selection--single,
.currency-from .select2-container .select2-selection--single {
    background-image: url('../img/from-marker.png');
    background-repeat: no-repeat;
    background-position: 162px 2px;
    background-size: 18px;
}

.standard-to .select2-container .select2-selection--single {
    background-image: url('../img/to-marker.png');
}

.standard-option-item {
    
}


.convert-header {
    grid-area: header;
}

.convert-from {
    grid-area: from;
}

.convert-to {
    grid-area: to;
}

.filters {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 30% 30% 30%;
    grid-template-areas: 
        "header header header"
        "from period to";
    position: relative;
    border: 1px solid var(--orange);
    border-radius: 10px;
    margin: 20px -10px 0px;
    padding: 10px 10px 15px 10px;
}

.filters .header {
    background-image: url(../img/filters.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: header;
    margin-bottom: 5px;
    height: 22px;
    width: 100%;
    position: absolute;
    top: -32px;
}

.filters select {
    color: #fff;
}

.filters .selector {
    margin-top: -5px;
}

.filters label {
    color: var(--orange);
    font-size: 12px;
    line-height: 30px;
}

.filters label .selection {
    color: #fff;
}

.filters label .letter {
    color: #fff;
    margin-left: 3px;
}

.region-selector-from {
    grid-area: from;
}

.period-selector {
    grid-area: period;
    text-align: center;
}

.period-selector label {
}

.region-selector-to {
    grid-area: to;
    text-align: right;
}

.region-selector-to label {
}

/* ------------- DROPDOWNS ------------- */

.select2-container--currencies,
.select2-container--filters {
    border: 1px solid #fff;
    height: 24px;
}

.select2-container--filters,
.select2-container--currencies {
    width: 90% !important
}

.select2-container--currencies .select2-dropdown {
    width: 500px !important;
}

.select2-container--filters .select2-dropdown {
    width: 250px !important;
}

.select2-container--currencies .select2-dropdown,
.select2-container--filters .select2-dropdown {
    background-color: #000;
}

.select2-search--dropdown .select2-search__field {
    background-color: #000;
    color: #fff;
}


.select2-container.select2-container--currencies.select2-container--open {
     width: 250px !important;
}

.select2-container.select2-container--currencies.select2-container--open {
     width: 500px !important;
}


label .select2-container.select2-container--currencies.select2-container--open {
    width: 90% !important;
}

.filters .select2-container--currencies {
    width: 90% !important;
}

.standard-to .standard-selector {
    text-align: right;
}

.convert-from .coin-selector,
.convert-to .standard-selector {
    margin-bottom: 5px;
}

.amount-selector-label {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 90% !important;
}

.standard-to {
    margin-bottom: 5px;
}

.standard-to .amount-selector-label {
    float: right;
}
.amount-selector-label .amount-output,
.amount-selector-label .amount-selector {
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    width: 100px;
}

.select2-results__option--selectable:hover {
   color: #000;
   background-color: var(--orange);
}

.warning-empty{
    border-color: yellow;
    border-width: 2px;
}

/* ------------- MAP ------------- */
.map {
    grid-area: map;
}

#map {
    height: auto;
    width: 100%;
}

/* ------------- OUTPUT ------------- */
.output {
    grid-area: output;
    display: none;
}

.content.modal {
    display: none;
}

/* ------------- FOOTER ------------- */
.footer {

}

@media only screen and (min-width: 2082px) {
    .container{
        margin: 40px auto;
    }
}

@media only screen and (max-width: 1280px) {

}